<% if logged_in? %>
    <div class="row">
        <aside class="col-md-4">
            <section class="user_info">
                <h1>
                    <%= link_to gravatar_for(current_user, size: 50), current_user %>
                    <h1><%= current_user.name %></h1>
                    <span><%= link_to "view my profile", current_user %></span>
                </h1>
                <div><%= render 'shared/user_info' %></div> 
            </section>
            <%= link_to "Create new data",  new_financial_datum_path, class: "btn btn-lg btn-primary" %>
            <br><br> <br>
            <%= link_to "All Financial data",   {:controller => "financial_data", :action => "index"}, class: "btn btn-lg btn-primary" %>
            
        </aside>
        <div class="col-md-8">>
            <%= column_chart FinancialDatum.group_by_day(:commit_time).where(user_id:current_user.id).sum(:money) %>
            <%= column_chart FinancialDatum.group_by_day(:commit_time, format: "%a").where(user_id:current_user.id).sum(:money) %>
        </div>
    </div>
<% else %>
    <div class="center jumbotron">
        <h1 class='retroshadow'> Financial Management</h1>
    
        <h3> Already have an account? <%= link_to "Sign in", login_path %></h3>
        <h2>
            This is the home page for the
            <a href="http://www.railstutorial.org/">Ruby on Rails-</a>
            Financial Management	&copy;.
        </h2>
            <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
        
    </div>
<% end %>



<!--
<%= link_to image_tag("FMlogo_small.png", id: "FMlogo_small"),'http://rubyonrails.org/' %>
<label id="FMtext">Financial Management, make a better life~</label>

        <%= link_to image_tag("cat.png", alt: "cat logo"),
        '#' %>        
-->