<div>
    <%= form_for(current_user) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <br>
        <br>
        <br>
        <br>
        <%= f.label :User_information %>
        <br>
        <br>
        <%= f.label :User_id %> &nbsp;
        <%= current_user.id %>
        <br>
        <%= f.label :Name %> &nbsp;
        <%= current_user.name %>
        <br>
        <%= f.label :Email %> &nbsp;
        <%= current_user.email %>
        <br>    
        <%= f.label :Commit %> &nbsp;
        <%= FinancialDatum.where(user_id: current_user.id).count %>
        <br>

    <% end %>
</div>