<%= form_for(@financial_datum) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <%= f.label :choice %> 
    <%= f.select :kind, FinancialDatum.kinds.keys, class: 'form-control' %> 

    <%= f.label :details %>
    <%= f.text_field :details, class: 'form-control' %>

    <p style="color:blue">Tips: number = (Income),  -number = (Outgo)</p>
    <%= f.label :money %>
    <%= f.text_field :money, class: 'form-control' %>

    <p style="color:blue">Tips: Note can be null(default: Null)</p>
    <%= f.label :note %>
    <%= f.text_field :note, class: 'form-control' %>

    <p style="color:blue">Tips: Commit time can be null(default: time.now)</p>
    <%= f.label :commit_time %>
    <input class="form-control" type="text" value="<%= Time.zone.now  %>" 
           name="financial_datum[commit_time]" id="financial_datum_commit_time" />
    
    
    
    <%= f.submit yield(:button_text), class: "btn btn-primary" %>

<% end %>